*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    box-sizing:border-box;
    text-decoration: none;
}

h1{
    text-transform:uppercase;
    font-size:2rem;
    font-weight:bold;
}

p{
    color:#01313D;
}

ul{
   list-style:none;
   padding:1%;
}

ul li p:hover{
    color:#03D2D2;
}

 ul li a:hover {
    color:#03D2D2;
}

.line{
    width:45px;
    height:3px;
    background-color:#01313D;
    margin:2%;
}

button{
    background-color:#01313D;
    color:#ffffff;
    border:1px solid #01313D;
    padding:1%;
    padding-left:3%;
    padding-right:3%;
    text-transform:uppercase;
}

button:hover {
        background-color:#ffffff;
        color:#01313D;
  }

/*----------------general stuff---------------*/

.search{
    border: 1px solid #000000;
}

.search input{ 
    border: none;
}

.search #sub{
    width:15px;
    height:15px;
    padding-top:2%;
    padding-left:1.5%;
 }

.tophead{
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    
}


.tophead a img{
    max-width: none;
    height:38px;
    width:40px;
}


.tophead a p {
    align-content:center;
    justify-content:center;
    text-decoration:none;
    color:#000000;
    font-weight:bold;
    text-align:center;
    font-size:.5rem;
}

.tophead a:hover  p{
    color:#03D2D2;
}


.mobile{
    display: none;
}

.tophead nav ul{ display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.mMobile{
    display: none;
    height:38px;
    width:40px;
}

.mMobile p{

    text-decoration:none;
    color:#000000;
    font-weight:bold;
    text-align:center;
    font-size:.5rem;

}

/*----------Done with top menu---------------*/

.ad{
    background-color:#01313D;
    height:35px;
}

.ad p{
    vertical-align:middle;
    color:#ffffff;
    word-spacing: .20rem;
 
   }
.ad p:first-child{
    text-transform:uppercase;
    font-weight:bold;
    text-align:right;
}



/*-------------------------------------*/

.submenu {
   text-align: center;
   line-height:220%;
   margin-top:2%;
   z-index:10;
}
.submenu div{
    margin-left:auto;
    margin-right:auto;
}

.submenu  button{
    margin-top:5%;
    padding:3%;
    padding-left:5%;
    padding-right:5%;
}

.overlayHead{
    position: absolute;
    top: 5%;
    left: 5%;
    
}
.overlayHead h1{
   background-color: rgba(250,250,250,0.4);
    border-radius: 5%   
}

.overlayBotom{
    position: absolute;
    text-transform: uppercase;
    bottom: 5%;
    left: 5%;
    background-color: rgba(250,250,250,0.4);
}

.overlayBotom a p:hover{
     color:white;
    text-decoration: underline;
}

.box{
    position: relative;
    flex-basis:50%;
    max-height: inherit;
  
}

img{
max-width:100%;
max-height:100%;      
}


.right{
    float:right;
    position: relative;
}


.contact{
    background-color:#f4f5f7;
    padding:2%;
}

.contact button{
    background-color:#f4f5f7;
    color:#01313D;
    
}

.contact button:hover {
    background-color:#01313D;
    color:#f4f5f7;
}

.store{
    text-align: center;
}

.store h3{
    text-transform:uppercase;
    font-size:1rem;
    margin-bottom: 30px;
}

.btn{
    padding-left:30px;
    padding-right:30px;
    
}

.btn2{
    margin-left: 30px;
    padding-left:30px;
    padding-right:30px;
    
}
.store img{
    margin:5%;
    height: 25px;
    width: auto;
}

.form{
    display:inline;
}


.footer{
    background-color:#003845;
    text-align: left;
    padding-bottom: 2%;
}

.footer p{
    font-size: .75rem;
    padding:1%;
    color:#ffffff;
}


.footer h1{
    padding:5%;
   padding-left:0;
    font-size: .9rem;
    color:#ffffff;
}

.footerTwo{
    background-color:#03D2D2;
    
}

.footerTwo p{
    padding: .5%;
   font-size: .5rem;
}

.footer2{
    background-color:#003845;
    
}
.footer2 p{
    color:#ffffff;
    margin-top: 5%;
    font-size: .5rem;
    margin:1%;
    padding-right:10px;
    width:100%;
    
}

.specialJ{
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
    border:1px solid #03D2D2;
    color:#03D2D2;

}

.specialJ p{
    font-size:.7em;
    margin:0 auto;
    padding-left:10px;
}

.specialJ:hover p{
    color:#000000;
}

.mobile1 input::placeholder{
    font-size:.7em;
}
.secondMenu ul li a:hover {
    color:#03D2D2;
    
}


.support{
    width:300px;
    flex-wrap:wrap;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}

.support a{
    
    margin-bottom: 30px;
    flex:33%;
    display:flex;
    flex-direction:column;
   
}

.support a:nth-child(4){
    flex:50%;
    align-self:center;
}
.support a:last-child{
    flex:50%;
    align-self:center;
}
.support a img{
    flex:1;
    text-align:center;
    align-content:center;
    justify-content:center;
    max-width: none;
    height:30px;
    width:30px;
}


.support a p {
    flex: 1;
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
    font-size:.5rem;
}

.support a:hover  p{
    color:#03D2D2;
}



@media only screen and (max-width: 800px) {
    p {
        font-size: .7rem;
    }

    .tophead {
        margin: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .mMobile{
           display: inline-block;
    }
    .mobile {
        display: inline-block;
    }

    .mobile1 {
        display: none;
    }

    .midmenu button {
        width: 100%;
        margin-top: 10px;
    }

    .btn2{
          padding-left:0;
          padding-right:0;
          margin-left: 25%;
          margin-top:20px;
          width:50%;
    }
    .footer {
        text-align: center;
    }

    .tophead div:nth-child(5) {
        background-color: #01313D;
    }

    .mobile img {
        height: 100%;
        width: auto;
    }

    .ad p {
        padding-top: 1%;
    }

    #wish {
        display: none;
    }


    nav:hover ul {
		display: block;
	}

    li a {
	display: inline-block;
	text-align: left;
	padding: 2%;
    font-size: .7rem;
    text-decoration:none;
    color:black;
}

    
}
